@import "./reset.css";
@import "./variables.css";

/* global styles */
body {
    font-family: "Montserrat", sans-serif;
}

header {
    height: 6rem;
    border-block-end: 2px solid var(--bf-grey);
    padding-block: 1rem;
}

main {
    padding-block: 2rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

/* utility classes */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.content-wrapper {
    max-width: 70rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* layout */
.header-wrapper {
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-items: center;
    cursor: pointer;
}

.logo h2 {
    font-weight: 500;
    color: var(--bf-grey);
    & > span {
        color: var(--bf-blue);
        font-weight: 800;
    }
}

.login > button {
    border: 2px solid var(--bf-blue);
    color: var(--bf-blue);
    padding: .5rem 1.25rem;
    border-radius: 6px;
    font-weight: 600;
    background-color: #FFF;
    transition: background 180ms ease-in, color 100ms ease-out 140ms;
    &:hover, &:focus:focus-visible {
        background-color: var(--bf-blue);
        color: #FFF;
        transition: background 380ms ease-in, color 100ms ease-out 140ms;
    }
    &:active {
        border-color: var(--bf-black);
        color: var(--bf-light-grey);
    }
}

form.search-form {
    position: relative;
}

.input-wrapper {
    position: relative;
    align-items: center;
    width: max-content;
}

.search {
    margin-block-end: 3rem;
}

.search input {
    line-height: 1.75;
    width: var(--input-width);
    padding: 0 .5rem;
    border-radius: 3px;
    border: 2px solid var(--bf-light-grey);
    outline: transparent;
    transition: border 200ms ease-out;
    font-size: 1rem;
    font-family: inherit;
    &:hover {
        border-color: var(--bf-grey);
    }
}

.search-glass {
    position: absolute;
    inset: auto -2rem auto auto;
    cursor: pointer;
    border: 2px solid var(--bf-light-grey);
    padding: .125rem;
    border-radius: 0 100vw 100vw 0;
    &:hover, :focus-visible {
        border-color: var(--bf-grey)
    }
}

.search-glass > svg {
    width: 1.5rem;
}

.options {
    position: absolute;
    inset: 2rem auto auto auto;
    background-color: #FFF;
    grid-template-rows: repeat(5, 0fr);
    gap: .25rem;
    opacity: 0;
    transition: none;
    width: var(--input-width);
    margin-block-start: .25rem;
    &.open {
        grid-template-rows: repeat(5, 1fr);
        opacity: 1;
        transition: grid-template-rows 500ms ease-out, opacity 220ms ease-in 300ms;
        z-index: 1;
    }
}

.search .options > li {
    overflow-y: hidden;
    border: 2px solid var(--bf-light-grey);
    padding: .25rem .5rem;
    border-radius: 3px;
    transition: border 200ms ease-out;
    &:hover {
        border-color: var(--bf-grey);
    }
}

.main-content li {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    
}

.main-content li > a {
    position: relative;    
}

.main-content li::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0'%3E%3C/path%3E%3Cpath d='M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0'%3E%3C/path%3E%3Cpath d='M3 6l0 13'%3E%3C/path%3E%3Cpath d='M12 6l0 13'%3E%3C/path%3E%3Cpath d='M21 6l0 13'%3E%3C/path%3E%3C/svg%3E");
}

.main-content li > a::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, var(--bf-grey) 25%, transparent 75%) no-repeat;
    background-size: 600%;
    inset: auto 0 -5px 1rem;
    height: 2px;
    background-position-x: right;
    transition: background 200ms ease-in 200ms;
}

.main-content li:hover > a::after,
.main-content li:focus-visible > a::after {
        background-position-x: left;
        transition: background 620ms ease-out;
}